@model StockJocky.Client.Models.UserViewModel

<h2>@Model.User.Username's Stocklist</h2>

<table id="stocks" style="width: 80%; text-align: center;">
  <tr>
    <th>Company</th>
    <th>Symbol</th>
    <th>Price</th>
    <th>Price Change</th>
    <th>Percent Change</th>
  </tr>
  

@for (int i = 0; i < @Model.User.Stocks.Count; i++)
{
    <tr style="border-bottom: 1px solid #ddd;">
    <td>@Model.User.Stocks[i].Name</td>
    <td>@Model.User.Stocks[i].Symbol</td>
    <td>@Model.User.Stocks[i].Price</td>
    <td>@Model.User.Stocks[i].PriceChange</td>
    <td>@Model.User.Stocks[i].PercentChange</td>
    <td>
        <form method="GET" action="~/Home/RemoveStock">

            @Html.HiddenFor(m => m.SymbolAdd)
            @Html.HiddenFor(m => m.UserName)

            <input type="hidden" asp-for="@Model.SymbolRemove" value="@Model.User.Stocks[i].Symbol">
            <input type="submit" value="X" style="color:red">
            
        </form>
    </td>
  </tr>
}
</table>

<form method="GET" action="~/Home/AddStock">
@Html.HiddenFor(m => m.SymbolAdd)
@Html.HiddenFor(m => m.UserName)
@Html.HiddenFor(m => m.User)
@Html.HiddenFor(m => m.User.Username)
@Html.HiddenFor(m => m.User.Stocks)

@for (int i = 0; i < @Model.User.Stocks.Count; i++)
{
    @Html.HiddenFor(m => m.User.Stocks[i])
    @Html.HiddenFor(m => m.User.Stocks[i].Name)
    @Html.HiddenFor(m => m.User.Stocks[i].PercentChange)
    @Html.HiddenFor(m => m.User.Stocks[i].Price)
    @Html.HiddenFor(m => m.User.Stocks[i].PriceChange)
    @Html.HiddenFor(m => m.User.Stocks[i].Symbol)
}
<br><br>
<label for="addStock">Find Symbol</label>
<input type="text" id="addStock" asp-for="@Model.SymbolAdd">

<button type="submit">Add Symbol</button>
</form>

<br><br>
<form method="GET" action="~/Home/Index">


<button type="submit">Logout</button>
</form>